<h1>Books</h1>
<h5>Title</h5>
<h5>Body</h5>
<% @books.each do |book| %>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <span>
    <%= link_to 'show', "/books/#{book.id}" %>
  </span>
  
  <p></p>
<% end %>




