
/**= require_self*/
/**= require_tree .*/

body{
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

p,ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}


a{
  color: #333;
}

a:visited {
    color: #666;
}

a:hover{
    background-color: #333;
    color: white;
}

